/* Designed to look like jspm.io so the switch to API docs looks better: */
.tsd-navigation {
  font-size: 0.8em;
  padding: 0.1em;
}
.content p, .content li {
  line-height: 1.5em;
}
.content ul {
  padding-left: 1em;
  margin: 0.5em 0;
}
.tsd-page-toolbar {
  position: absolute;
  background: none;
  border: none;
  top: 0;
  left: 0;
  margin: 1em;
  width: calc(100% - 2em);
}
.tsd-page-toolbar .container {
  padding: 0;
}
.tsd-widget {
  text-align: center;
}
#tsd-search #tsd-search-field {
  font-size: 1em;
}
#tsd-search.has-focus {
  border-radius: 0.2em;
  border: 1px solid #eee;
  background-color: #efefef;
}
#tsd-search .results li {
  padding: 0.5em 0.4em;
}

.tsd-theme-toggle {
  display: none;
}

.tsd-page-toolbar .title {
  display: none;
}

body {
  --color-scheme: var(--light-color-scheme) !important;
}

.container {
  padding: 0;
}

.tsd-breadcrumb {
  position: absolute;
  top: -2.5em;
  left: -1em;
}
ul.tsd-breadcrumb li {
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.tsd-index-heading {
  margin: 0;
}
html .col-content {
  padding-top: 0;
}
.tsd-page-title {
  display: none;
}