/* Designed to look like jspm.io so the switch to API docs looks better: */

body {
  --color-scheme: var(--light-color-scheme);
}

header.tsd-page-toolbar #jspm-logo {
  width: 3rem;
  height: 2.9rem;
  background-size: 3rem 2.9rem;
  position: absolute;
  top: 0.35em;
  left: 1.5em;
  background-image: url("/jspm.png");
  background-repeat: no-repeat;
}

header.tsd-page-toolbar #jspm-logo-header {
  color: #595959;
  font-weight: 300;
  user-select: none;
  font-size: 1.2em;
  margin: 0;
  position: absolute;
  z-index: 15;
  top: 0.9em;
  left: 3.95em;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.tsd-page-toolbar .tsd-toolbar-contents {
  height: 3.5rem;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 8em;
}

/*
.container.container-main {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}

.col-content {
  margin-top: 3.5rem;
  padding-left: 8rem;
  box-shadow: inset 0px 0px 5px rgb(0 0 0 / 10%);
}

.col-menu.menu-sticky-wrap.menu-highlight {
  top: 0;
  background-color: #fafafa;
  border-left: 1px solid #e4e4e4;
  padding: 2rem;
}

.tsd-page-toolbar {
  z-index: 12;
  height: 3.5rem;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.tsd-page-title {
  display: none;
}

#plugin-versions-select {
  padding: 0.3rem;
  margin-right: 1rem;
  border-radius: 5px;
}

#tsd-search {
  border-radius: 5px;
}

#tsd-search.has-focus {
  background-color: #f4f4f4;
}

.tsd-widget.tsd-toolbar-icon.menu.no-caption {
  position: absolute;
}
*/