[submodule "api_repos/generator"]
	path = api_repos/generator
	url = git@github.com:jspm/generator.git
[submodule "api_repos/import-map"]
	path = api_repos/import-map
	url = git@github.com:jspm/import-map.git
[submodule "scripts/api-docs-generator/generator"]
	path = scripts/api-docs-generator/generator
	url = git@github.com:jspm/generator.git
[submodule "scripts/api-docs-generator/import-map"]
	path = scripts/api-docs-generator/import-map
	url = git@github.com:jspm/import-map.git
[submodule "scripts/api-docs-generator/jspm"]
	path = scripts/api-docs-generator/jspm
	url = git@github.com:jspm/jspm.git
